


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


h1,.enquirenav, .header ul,h3{
  font-family: 'Frank Ruhl Libre', sans-serif;
}


body {
background: #212121;
color: #bfbfbf;
font-family: 'Merriweather';
}


/* Navbar */

header {
background: #18191A;
position: fixed;
top: 0;

left: 0;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
transition:1s;
padding: 5vh 5vw 1vh 5vw;
z-index: 100000;
}

header .enquirenav {
position: relative;
font-weight:550;
color: #bfbfbf;
text-decoration: none;
font-size: 2em;
text-transform: uppercase;
transition: 1s;
}
header.sticky {
padding: 1vh 5vw 1vh 5vw;
background: #bfbfbf;
}
header ul {
position: relative;
display: flex;
justify-content: center;
align-items: center;
}
header ul li {
position: relative;
list-style: none;
}
header ul li a {
text-transform: uppercase;
text-decoration: none;
color: inherit;
position: relative;
margin: 0 15px;
text-decoration: none;
color: #bfbfbf;
letter-spacing: 2px;
font-weight: 700;
transition: 1s;
}


.banner {
position: relative;
width: 100%;
/* height: 100vh; */
}
header.sticky .enquirenav {
color: #212121;
}
header.sticky ul li a {
color: #212121;
}

header.sticky .bar {
  transition: 1s;
background: #212121;
}
header.sticky .toggle-button {
    top: 1rem;
    right: 1rem;
    transition:1s;
  }

header ul li a:hover{
text-decoration: none;
color:#ff4532;
}

header ul li a:after  {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ff4532;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

header ul li a:hover:after {
  width: 100%;
  left: 0;
}


/* Hamburger */
.toggle-button {
    position: absolute;
    top: 2.5rem;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    transition: 1s;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #bfbfbf;
    border-radius: 10px;
}

@media (max-width: 900px) {
header{
  flex-direction: column;
}
    .toggle-button {
        display: flex;
    }
    .navbar{
      display:inline-block;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: 0.2rem 1rem;
    }

      .navbar-links.active {
  display: flex;
  align-items: center;
  flex-direction: column;
    }
}




/*
font-family: 'Merriweather', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Source Serif 4', sans-serif;
*/
